@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {

   html {
    font-size: 120%;
  }

}

@media only screen and (min-width: 120em) {

   html {
    font-size: 130%;
  }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

.head {
    background-color: rgba(40,40,40,1);
    overflow: hidden;
}

.logo {
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	bottom: 1%;
	height: 50px;
	overflow: hidden;
	position: absolute;
	right: 1.5em;
	width: 46px;
	text-indent: 100%;
	white-space: nowrap;
}

.nav > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.nav li {
	display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: .2rem;
	color: rgba(255,247,0,1);
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: rgba(255,247,0,1);
	color: rgba(40,40,40,1);
}

.sign-up {
	border: solid 1px;
	margin: .8rem;
}

.billboard {
	background-color: rgba(255,247,0,1);	
	background-image: url(../images/billboard.jpg);
	width: 100%;
	background-size: 100%;
	overflow: hidden;
	height: 30rem;
}

.billboard-pricing {
	background-color: rgba(255,247,0,1);	
	background-image: url(../images/billboard.jpg);
	width: 100%;
	background-size: 100%;
	overflow: hidden;
	height: 20rem;
}

.billboard-thanks {
	background-color: rgba(255,247,0,1);	
	background-image: url(../images/billboard.jpg);
	width: 100%;
	background-size: 100%;
	overflow: hidden;
	height: 25rem;
}

.billboard-form {
	background-color: rgba(255,247,0,1);	
	background-image: url(../images/billboard.jpg);
	width: 100%;
	background-size: 100%;
	overflow: hidden;
	height: 20rem;
}

.arrow {
	width: 15%;
	padding-top: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.title {
	font-weight: 900;
	color: rgba(255,247,0,1);
	text-transform: capitalize;
	font-size: 3rem;
	line-height: 3rem;
}

.subhead {
	font-weight: 500;
	color: white;
}

.title-block {
	text-align: center;
}

.middle {
	text-align: center;
}

.push-top-none {
  margin-top: 0;
}

.button {
	color: rgba(40,40,40,1);
	border: none;
	background-color: rgba(255,247,0,0.7);
	font-weight: 800;
	padding: .5em;
	max-width: 8rem;
	margin-right: auto;
	margin-left: auto;
}

.button-form {
	color: rgba(40,40,40,1);
	border: none;
	background-color: rgba(255,247,0,0.7);
	font-weight: 800;
	padding: .5rem;
	margin-top: 1.5rem;
	max-width: 8rem;
	margin-right: auto;
	margin-left: auto;
}

.button-bottom {
	padding-top: 1.5rem;
}

.button-text {
		text-decoration: none;
		color: rgb(40,40,40);
		font-weight: 900;
		font-size: 1.3rem;
		text-align: center;
		line-height: 1.3rem;
}

.button:hover {
	background-color: rgba(255,247,0,1);
	cursor: pointer;
	color: #fff;
}

.button-form:hover {
	background-color: rgba(255,247,0,1);
	cursor: pointer;
	color: #fff;
}

.button:hover {
	background-color: rgba(255,247,0,1);
	cursor: pointer;
	color: #fff;
}
.button-form:hover {
	background-color: rgba(255,247,0,1);
	cursor: pointer;
	color: #fff;
}

.why {
	background-color: white;
	text-align: center;
	color: rgba(40,40,40,1);
}

.icons {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	padding-bottom: .75rem;
}

.icon-back {
	background-color: rgba(40,40,40,1);
	text-align: center;
}

.why-title {
	color: rgba(255,247,0,1);
	line-height: 1.7rem;
}

.why-copy {
	padding-top: .6rem;
	color: white;
}

.box-1 {
	text-align: center;
	background-color: rgba(40,40,40,1);
}

.box-2 {
	text-align: center;
	background-color: rgba(40,40,40,1);
}

.box-3 {
	text-align: center;
	background-color: rgba(40,40,40,1);
}

.quote-marks:before {
		position: relative;
		font-weight: 900;
		right: 5%;
		top: 2rem;
	    content: "“";
	    font-size: 6rem;
}

.quote-marks:after {
	    content: "”";
	    font-weight: 500;
}

.quote {
	line-height: 1.2rem;
	text-align: center;
	background-color: rgba(255,247,0,1);
	color: black;
	font-weight: 600;
	position: relative;
	height: 10rem;
}

.author {
	font-weight: 300;
	font-size: .75rem;
	line-height: 1.5rem;
}

.price-button {
	width: 8rem;
	margin-bottom: 1.5rem;
}

.line {
	border: none;
}

.foot {
	background-color: rgba(40,40,40,1);
}

.copyright {
	color: white;
	font-weight: 500;
}

.price-title {
	position: relative;
	z-index: 200;
	color: rgba(255,247,0,1);
}

.price-copy {
	position: relative;
	background-color: rgba(40,40,40,0.5);
	color: white;
	z-index: 200;
}

.price-box {
	text-align: center;
}

.popcorn-s {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.popcorn-m {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.popcorn-l {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.popcorn-xl {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.back {
	background-color: rgba(40,40,40,1);
}

label {
  display: block;
}

input + label {
  display: inline-block;
}

.wid {
  width: 100%;
  height: 3em;
  border: solid 1px rgba(40,40,40,1);
}

.circle:focus {
	outline: 3px solid rgba(255,247,0,1);
}

.wid:focus {
	outline: 3px solid rgba(255,247,0,1);
}

input:hover
input:active {
  border-color: #2F4F4F; 
}

.form-title {
	  font-weight: 500;
	  padding-top: .7rem;
}

.form-bill {
	font-weight: 600;
	font-size: 1.2rem;
}

.terms {
	white-space: nowrap;
	min-width: 20rem;
}

.quote blockquote {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.e-p {
	background-color: rgba(40,40,40,.1);
}

.half-form-ex {
	padding-right: 1rem;
}

.half-form-cvv {
	padding-left: 1rem;
}

.side-form {
	margin-right: 10%;
	margin-left: 10%;
}

.arrow {
	width: 4rem;
}

.thanks-back {
	background-color: rgba(40,40,40,1);
}

@media only screen and (min-width: 38em) {

.logo {
	width: 70%;
}

.nav > ul {
	margin-right: 1.5rem;
	text-align: right;
}

.nav a,
.nav a:link,
.nav a:visited {
	padding: .5rem;
}

.box-1 {
	text-align: center;
	background-color: rgba(255,247,0,0.4);
}

.box-2 {
	text-align: center;
	background-color: rgba(40,40,40,1);
}

.box-3 {
	text-align: center;
	background-color: rgba(60,60,60,1);
}

.box-4 {
	text-align: center;
	background-color: rgba(255,247,0,0.1);
}

.line {
	border: solid 2rem;
	color: white;
}

.quote {
	font-size: 1.2rem;
	line-height: 1.4rem;
	height: auto;
}

.subhead {
	padding-left: 15%;
	padding-right: 15%;
}c

.title {
	font-size: 3.5rem;
	line-height: 3.5rem;
}

.why-us-para {
	padding-left: 10%;
	padding-right: 10%;
}

.author {
	font-size: 1rem;
	line-height: 1.8rem;
}

.arrow {
	width: 5rem;
}

.side-form {
	margin-right: 20%;
	margin-left: 20%;
}

}




@media only screen and (min-width: 60em) {

.logo {
	width: 85%;
}

.nav a,
.nav a:link,
.nav a:visited {
	padding: .8rem;
}

.box-1 {
	text-align: center;
	background-color: rgba(40,40,40,1);
}

.box-2 {
	text-align: center;
	background-color: rgba(255,247,0,0.4);
}

.box-3 {
	text-align: center;
	background-color: rgba(40,40,40,1);
}

.line {
	border: none;
}

.quote {
	height: 10rem;
}

.subhead {
	padding-left: 25%;
	padding-right: 25%
}

.title {
	font-size: 4.5rem;
	line-height: 4.5rem;
	padding-left: 5%;
}

.why-us-para {
	padding-left: 15%;
	padding-right: 15%;
}

.quote {
	font-size: 1.4rem;
	line-height: 1.6rem;
}
.author {
	font-size: 1.2rem;
	line-height: 2.5rem;
}

.side-form {
	margin-right: 25%;
	margin-left: 25%;
}

.arrow {
	width: 6rem;
}


}















